.menu.disabled {
  display: none;
}

.menu ul li {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}

.menu li + li {
  margin-top: 15px;
}

.menu ul li:hover {
  color: var(--c-5);
}

@media (max-width: 840px) {
  .menu ul li {
    font-size: 3rem;
  }
}

@media (max-width: 680px) {
  .menu ul li {
    font-size: 2rem;
  }
}
