.menu {
  display: flex;
  align-items: center;
  height: 100vh;
}

.menu ul li {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--c-2);
  transition: 0.3s;
}

.menu li + li {
  margin-top: 15px;
}

.menu ul li:hover {
  color: var(--c-5);
}
