.bgSkills {
  display: flex;
  align-items: center;
  background: var(--c-3);
  height: 100vh;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}

.skills__list {
  color: var(--c-4);
}

.skills__list li {
  font-size: var(--sz-4);
  border-bottom: 1px solid var(--c-5);
  padding: 20px 0px;
}

.skills__list li:last-child {
  border: none;
}

@media (max-width: 840px) {
  .bgSkills {
    display: block;
    padding: 100px 0px;
    height: auto;
  }
  .skills h2 {
    margin-bottom: 30px;
  }
}
