.bgHeader {
  background: #1e3d3a;
  transition: height 0.6s;
  height: 0vh;
}

.bgHeader.active {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.header {
  width: 100%;
}
