.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #152927;
  position: fixed;
  right: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.loading.disableLoading {
  animation: animeOut 0.6s ease-out forwards;
}

@keyframes animeOut {
  to {
    display: none;
    height: 0vh;
  }
}

.loading__content {
  position: relative;
}

.loading__content p {
  color: #e2caa5;
  font-size: 24px;
  text-transform: uppercase;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  animation: carrousel 8s linear;
}

.loading__content p:nth-child(2) {
  animation-delay: 2.5s;
}

@keyframes carrousel {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
