:root {
  --fm-1: "Playfair Display";
  --fm-2: "Inter";
  --sz-1: 12rem;
  --sz-2: 7.5rem;
  --sz-3: 2.5rem;
  --sz-4: 1.125rem; /*18px*/
  --sz-5: 2.25rem; /*36px*/
  --c-1: #fffcfc;
  --c-2: #081110;
  --c-3: #264441;
  --c-4: #e1d6d0;
  --c-5: #d3a690;
}
