:root {
  --fm-1: "Playfair Display";
  --fm-2: "Inter";
  --sz-1: 12rem;
  --sz-2: 7.5rem;
  --sz-3: 2.5rem;
  --sz-4: 1.375rem;
  --c-1: #081c15;
  --c-2: #0c332c;
  --c-3: #bde038;
  --c-4: #f5fef7;
}
